{% extends 'base.html' %}
{% load static %}

{% block title %}
{{category}}
{% endblock title %}

{% block script_css %}
<script>
    $(function () {
    });
</script>
<style>
    body{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        background-color: #B9D7EA;

    }
    ::-webkit-scrollbar {
        display: none;
    }
    .item-card {
        transition: 0.35s ease-in-out;
    }

    .item-card:hover {
        transition: 0.35s ease-in-out;
        transform: scale(1.04);
    }

    .item-image {
        max-width: 100%;
        max-height: 100%;
        width: 250px;
        height: 250px;
    }
    .card-item{
        width: 250px;
        border-radius: 22px;
    }
    .thumbnail{
        border-radius: 32px;  
    }
    @media only screen and (max-width: 768px) {
        .card-item {
        width: 190px;
        }

        .thumbnail{
        object-fit: cover; 
        width: 100%; 
        height: 180px;
        }
    }
</style>
{% endblock script_css %}

{% block content %}
{% include 'includes/navbar.html' %}
{% include 'includes/sidebar.html' %}
{% include 'includes/advanced_filter.html' %}

<div class="container">
    <div class="row d-flex justify-content-center my-5">
        {% for item in page_obj.object_list %}
            {% include 'main_app/includes/item.html' %}
        {% endfor %}
    </div>

    <div class="row my-5">
        <div class="col-12 d-flex justify-content-center">
            {% include 'main_app/includes/pagination.html' %}
        </div>
    </div>
</div>
{% endblock content %}