{% load static %}
{% load humanize %}
{% load custom_tags %}

<div class="card item-card col-6 col-sm-3 m-2 p-0 card-item">
  {% if request.GET.page %}
  <a href="{% url 'main_app:item-detail-page' item.slug 20|multiply:request.GET.page|add_current_rank:forloop.counter0|encrypt_id %}"
    class="text-decoration-none text-dark">
  {% else %}
  <a href="{% url 'main_app:item-detail-page' item.slug 20|multiply:1|add_current_rank:forloop.counter0|encrypt_id %}"
    class="text-decoration-none text-dark">
  {% endif %}
    <img src="{{ item.pic }}" class="item-image p-4 thumbnail" alt="{{ item.name }}"/>
    <div class="card-body">
      <h6 class="card-title">{{ item.name }}</h6>
      <p class="text-secondary m-0">{{ item.furniture_location|title }}</p>
      {% if item.isProduct %}
        <span class="badge" style="font-size: 10px; background-color: #0F4C75;">Product</span>
      {% else %}
        <span class="badge" style="font-size: 10px; background-color: #BBE1FA; color: #0F4C75;">Service</span>
      {% endif %}
      <h6>Rp. {{ item.price|intcomma }}</h6>
    </div>
  </a>
</div>
